@model IEnumerable<GFT_ClubHouse__Management.Models.ClubHouse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }, new { @class = "btn btn-warning btn-rounded" })
                @Html.ActionLink("Details", "Details", new { item.Id }, new { @class = "btn btn-info btn-rounded" })
                <form method="post" asp-action="Delete" style="display: inline"> 
                    <input name="id" id="id" value="@item.Id"  hidden />
                    <input type="submit" value="Delete" class="btn btn-danger btn-rounded" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
